.moviecard {
  border: 1px outset #ffffc9;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  margin: auto;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.49);
  -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.49);
  box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.49);
  background: white;
  padding-bottom: 10px;
  overflow: hidden;
}

.moviecard img{
	display: block;
	margin: 20px auto;
	border-radius: 2px;
	border: solid 1px #444;
  width:150px;
  height: 200px;
}

.moviecard p {
  font-weight: lighter;
  font-size: 10px;
}

.fav {
	background: #666;
}

.nfav {
  background-image: url("./images/nfav.png");
}

.moviecard-content .image {
  height: 20px;
  width: 20px;
  border: none;
  position: relative;
}

.moviecard-content > div > img {
  margin: 0px;
  display: unset;
}
